body{
    background-color: wheat;
}
.container h1{
    color: orangered;
    font-size: 70px;
    font-weight: 700;
}    
#dishes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    max-width: 100%;
}
.dish{
    background-color: tomato;
    color: honeydew;
    border-radius: 20px;
    box-shadow: 1px 1px 30px grey;
}
.dish img{
    width: 100%;
    height: 200px;
}